<div class="header-contact ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto col-sm-6">
                <a href="{{urlMinegocio}}" class="d-none d-md-block" target="_blank" title="Visitanos {{direccion}} {{colonia}}. {{ciudad}}">
                    <i class="fas fa-map-marker-alt"></i>
                    {{direccion}}
                </a>
                <a href="tel:{{telefono}}" class="d-block d-md-none" title="Llámanos, congusto te atenderemos {{telefono}}">
                    <i class="fas fa-phone-alt"></i>
                    {{telefono}}
                </a>
            </div>
            <div class="col col-sm-6 iconos-contact text-right">
                <a href="tel:{{telefono}}" class="d-none d-md-inline-block" title="Llámanos, congusto te atenderemos {{telefono}}">
                    <i class="fas fa-phone-alt"></i>
                    {{telefono}}
                </a>
                <a href="#" class="d-inline-block d-md-none" title="Visitanos {{direccion}} {{colonia}}. {{ciudad}}">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                <a href="{{urlfacebook}}" target="_blank" title="Siguenos en Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="mailto:{{email}}" trarget="_blank" title="Escribenos un email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                
            </div>
        </div>
    </div>
</div>
