<div class="container">
    <div class="row">
    <div class="col-12 col-md-5 py-3">
        <img src="img/logo-footer-2.png" width="400" class="d-block img-fluid" alt="">
        <p class="mt-3">
        {{direccion}} <br>
        {{colonia}}, {{codigoPostal}}<br>
        {{ciudad}}
        </p>
    </div>
    <div class="col-12 col-md-4 py-3 ">
        <h4 class="">¿Alguna pregunta?</h4>
        <ul class="contact-footer">
        <li><a href="tel:{{telefono}}"><i class="fas fa-phone-alt"></i>{{telefono}}</a></li>
        <li><a href="tel:{{celular}}"><i class="fas fa-mobile"></i> {{celular}}</a></li>
        <li><a href="{{urlWhatsapp}}" target="_blank"><i class="fab fa-whatsapp"></i>{{whatsapp}}</a></li>
        <li><a href="mailto:{{email}}" target="_blank"><i class="far fa-envelope"></i>{{email}}</a></li>
        <li><a href="{{urlfacebook}}" target="_blank"><i class="fab fa-facebook"></i>{{facebook}}</a></li>
        </ul>
        
    </div>
    <div class="col-12 col-md-3 py-3">
        <h4 class="">Menu</h4>
        <ul class="menu-footer">
        <li><a href="./">Inicio</a></li>
        <li><a href="./calcula-tu-credito.html">Calculadora</a></li>
        <li><a href="./obten-tu-credito.html">Tramita tu préstamo</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
        <li><a href="./aviso-de-privacidad.html">Aviso de privacidad</a></li>
        <li><a href="./preguntas-frecuentes.html">Preguntas frecuentes</a></li>
        </ul>
    </div><!-- -->
    </div>
</div>
<div class="copyright container-fluid text-center py-4">
    <div class="row">
        <div class="col-12 col-md-6 text-center text-md-left">
            <span class="m-0 text-white">Copyright &copy; 2017 - {{currentDate}}. <strong>{{empresa}}</strong> Todos los derecho reservados</span>
        </div>
        <div class="col-12 col-md-6 text-center text-md-right mt-3 mt-md-0">
            <span>Este sitio fue credo con <i class="fas fa-heart text-danger"></i> por <a href="https://codipix.com" target="_blank">codipix<a></span>
        </div>
    </div>
    
</div>
<!-- /.container -->